*{
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
body{
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
  color: #ebebeb;
}
header{
  max-width: 100vw;
  height: 100vh;
  background-image: url('../info/photo/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  display: flex;
  align-items: center;
  background-position: center;
  animation-name: header;
  animation-duration: 0.8s;
}
.enter_header{
  height: 100vh;
  overflow: hidden;
  background: #00000064;
  display: flex;
  align-items: center;
}
@keyframes header {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.header_name{
  text-align: center;
  width: 100vw;
  color: #f5f5f5;
  font-size: 7vw;
  animation-name: head;
  animation-duration: 1.4s;
}
.logo{
  animation-name: logo1;
  animation-duration: 0.8s;
}
@keyframes logo1 {
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(-50vh);
  }
}
.logo img{
  width: 6vw;
  position: absolute;
  top:0;
  margin-left: 5vw;
  margin-top: 2vw;
  animation-name: logo;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes head {
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(0px);
  }
}
.pod_header{
  max-width: 100vw;
  height: 3vw;
  background: #242424;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow{
  height: 5vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pod_arrow{
  width: 1.5vw;
  height: 1.5vw;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 3px;
  transform: rotate(225deg);
  margin-top: -1vw;
  transition: 0.5s;
}
.pod_header input{
  margin-left: 70vw;
  position: absolute;
  width: 5vw;
  height: 2.5vw;
  border: 0;
  font-size: 1.2vw;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}
.pod_header input:focus{
  border: 0;
  outline: none;
}
.menu{
  position: absolute;
  width: 65vw;
  height: 0;
  background: #242424;
  margin-top: 3vw;
  transition: 0.5s;
  visibility: collapse;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.arrow:hover .menu{
  top:0;
  height: 15vw;

  transition: 0.5s;
  visibility: visible;
  box-shadow: 0px 10px 10px 0px black;
}
.arrow:hover .pod_arrow{
  transform: rotate(45deg);
  transition: 0.5s;
  margin-top: 0.2vw;
}
.menu div{
  height: 0;
  width: 11.5vw;
  background: white;
  margin: 0 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: #277ccc;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.menu p{
  background: #0000004b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.arrow:hover .menu div{
  height: 11vw;
  font-size: 1.2vw;
  transition-delay: 0.2s;
  box-shadow: 0px 0px 20px #121212;
}
.menu a:nth-child(1) div{
  background-image: url('../photo/head1.jpeg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(2) div{
  background-image: url('../north/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(3) div{
  background-image: url('../south/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.menu a:nth-child(4) div{
  background-image: url('../africa/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(5) div{
  background-image: url('../austr/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
#hover:hover{
  transform: scale(1.07);
  transition: 0.5s;
  border-radius: 10%;
}
footer{
  max-width: 100vw;
  height: 2vw;
  background: #242424;
  box-shadow: 0px 0px 10px 0px black;
}
.content{
  background: #ebebeb;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.block_1{
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}
.pod_block_1{
  display: inline-block;
  width: 30vw;
  margin: 0 5vw;
  align-self: center;
  text-align: center;
  font-size: 1.7vw;
  color: #ebebeb;
  box-shadow: 0px 0px 20px 0px #121212;
  background: #ebebeb;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.block_1 div:nth-child(2) img{
  width: 100%;
}
.block_1 div img{
  max-width: 100%;
}
.p{
  background: #242424;
  padding: 0.5vw 0;
}
.quest{
  width: 100vw;
  font-size: 4vw;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.quest p{
  text-align: center;
  margin-top: 3vw;
}
.block_2{
  width: 100vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pod_block_2{
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 0px #121212;
}
.pod_block_2 div{
  width: 40vw;
  height: 30vw;
}
.pod_block_2 div p{
  font-family: 'Raleway', sans-serif;
}
.pod_block_2 div:nth-child(1){
  font-size: 1.2vw;
}
.pod_block_2 div:nth-child(2){
  font-size: 1.2vw;
}
.big_name{
  font-size: 1.5vw;
  font-weight: bold;
}
.block_2 p{
  padding: 1.2vw;
  line-height: 1.3;
  font-family: 'Raleway', sans-serif;
  display: flex;
}

.map-responsive{
  overflow:hidden;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
.block_3{
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f1f1f1f1;
  box-shadow: 0px 0px 20px 0px black;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.pod_block_3{
  width: 43vw;
  height: 90vw;
  background-image: url('svg/graf.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}
.pod_block_3 img{
  width: 40vw;
}
.pod_soc{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30vw;
  transition: 0.3s ease-in-out;
  box-shadow: 0px 20px 20px 0px #121212;
}
.pod_soc a{
  width: 50%;
}
.pod_soc p:hover{
  transform: scale(1.2);
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px black;
}
.pod_soc p{
  transition: 0.3s;
}
.pod_soc_1{
  transform: translateX(-50vw) scale(0);
}
.osn:hover+.pod_soc_1{
  transform: translateX(0vw) scale(1);
}
.pod_soc:hover{
  transform: translateX(0vw) scale(1);
}
.pod_soc_2{
  transform: translateX(50vw) scale(0);
}
.osn:hover+.pod_soc_2{
  transform: translateX(0vw) scale(1);
}
.pod_soc:hover{
  transform: translateX(0vw) scale(1);
}
.tema_black_on{
  background: #121212;
  color: #ebebeb;
  box-shadow: 0px 0px 10px 0px white;
  transition: 0.3s;
}
.tema_white_on{
  background: #ebebeb;
  color: #121212;
  box-shadow: 0px 0px 20px 0px white;
  transition: 0.3s;
}
.arrow_black{
  border-top: 3px solid #121212;
  border-left: 3px solid #121212;
}
hr{
  color: black;
}
.tema_black, .tema_white, .tema_button{
  transition: 0.3s;
}
.shadow_white{
  box-shadow: 0px 0px 20px 0px white;
}
.tema_white_menu_on{
  background: #ebebeb;
  transition: 0.3s;
}
.name_graf{
  font-size: 4vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
}
.bn{
  text-align: center;
  margin: -0.1vw auto;
  font-size: 2vw;
}
.small_n, .small_n_2{
  width: 35%;
  font-size: 1vw;
}
.bn:nth-child(1){
  margin-top: 0.5vw;
  width: 15vw;
}
.pod_block_3 p:nth-child(3){
  margin-top: 3.8vw;
  width: 10vw;
}
.pod_block_3 p:nth-child(6){
  margin-top: 1.5vw;
  width: 10vw;
}
.pod_block_3 p:nth-child(8){
  margin-top: 6vw;
  width: 14vw;
}
.pod_block_3 p:nth-child(2){
  margin-top: 6vw;
  margin-left: 25vw;
  font-size: 1.4vw;
}
.pod_block_3 p:nth-child(4){
  margin-top: 2vw;
  margin-left: 25vw;
  font-size: 1.4vw;
}
.pod_block_3 p:nth-child(5){
  margin-top: 1.5vw;
  margin-left: 25vw;
}
.pod_block_3 p:nth-child(7){
  margin-top: 4vw;
  margin-left: 25vw;
  font-size: 1.4vw;
  width: 40%;
}
.pod_block_3 p:nth-child(9){
  margin-top: 3vw;
  margin-left: 25vw;
  font-size: 1.4vw;
  width: 40%;
}
.tema_none{
  color: black;
}
.focus_button{
  background: #121212;
  color: #ebebeb;
  box-shadow: 0px 0px 10px 0px white;
  transition: 0.3s;

  animation-name: button;
  animation-duration: 0.3s;
}
@keyframes button {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
