*{
  padding: 0;
  margin: 0;
}
body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}
header{
  max-width: 100vw;
  height: 100vh;
  background-image: url('photo/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -2;
  display: flex;
  align-items: center;
  background-position: top center;
  font-family: 'Raleway', sans-serif;

  animation-name: header;
  animation-duration: 0.8s;
}
.blur{
  width: 100%;
  height: 100%;
  position: absolute;

  animation-name: blur;
animation-fill-mode: forwards;
animation-duration: 0.5s;
animation-delay: 1s;
}
@keyframes blur {
  0%{

  }
  100%{
    backdrop-filter: blur(5px);
  }
}
.enter_header{
  height: 100vh;
  overflow: hidden;
  background: #00000064;
  display: flex;
  align-items: center;
}
@keyframes header {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.header_name{
  text-align: center;
  width: 100vw;
  color: #f5f5f5;
  font-size: 5vw;
  z-index: 2;

  animation-name: head;
  animation-duration: 1.4s;
}
.logo{
  animation-name: logo1;
  animation-duration: 0.8s;
  z-index: 2;
}
@keyframes logo1 {
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(-50vh);
  }
}
.logo img{
  width: 6vw;
  position: absolute;
  top:0;
  margin-left: 5vw;
  margin-top: 2vw;

  animation-name: logo;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes logo {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes head {
  0%{
    transform: translateY(-2000px);
  }
  100%{
    transform: translateY(0px);
  }
}
.pod_header{
  max-width: 100vw;
  height: 3vw;
  background: #242424;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pod_header input{
  margin-left: 70vw;
  position: absolute;
  width: 5vw;
  height: 2.5vw;
  border: 0;
  font-size: 1.2vw;
  border-radius: 3px;
  transition: 0.3s;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.pod_header input:focus{
  border: 0;
  outline: none;
}
.content{
  max-width: 100vw;
  height: 100%;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  font-family: 'Raleway', sans-serif;
  z-index: 1;
}
.arrow{
  height: 5vw;
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pod_arrow{
  width: 1.5vw;
  height: 1.5vw;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 3px;
  transform: rotate(225deg);
  margin-top: -1vw;
  transition: 0.5s;
}
.menu{
  position: absolute;
  width: 65vw;
  height: 0;
  background: #242424;
  margin-top: 3vw;
  transition: 0.5s;
  visibility: collapse;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}
.arrow:hover .menu{
    top:0;
    height: 15vw;

    transition: 0.5s;
    visibility: visible;
    box-shadow: 0px 10px 10px 0px black;
}
.arrow:hover .pod_arrow{
    transform: rotate(45deg);
    transition: 0.5s;
    margin-top: 0.2vw;
}
.menu div{
  height: 0;
  width: 11.5vw;
  background: white;
  margin: 0 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: #277ccc;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
  z-index: 9999;
}
.menu p{
  background: #0000004b;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.arrow:hover .menu div{
  height: 11vw;
  font-size: 1.2vw;
  transition-delay: 0.2s;
}
.menu a:nth-child(1) div{
  background-image: url('../photo/head1.jpeg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(2) div{
  background-image: url('../south/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(3) div{
  background-image: url('../evrazia/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.menu a:nth-child(4) div{
  background-image: url('../africa/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
.menu a:nth-child(5) div{
  background-image: url('../austr/photo/header.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}
#hover:hover{
  transform: scale(1.07);
  transition: 0.5s;
  border-radius: 10%;
}
#hover{
  box-shadow: 0px 0px 20px 0px #121212;
}
.name_block{
  width: 100%;
  text-align: center;
  font-size: 3vw;
  margin-top: 2vw;
}
.big_mount{
  width: 70%;
  position: absolute;
  z-index: 1;
}
.block_1{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  align-items: center;
  line-height: 1.8vw;
  z-index: 2;
  margin-bottom: 5vw;
}
.block_1 div{
  width: 40%;
}
.collage_1{
  margin-right: 2vw;
}
.info_1{
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info_1 p{
  margin: 0.2vw 0;
}
.info_1 p:nth-child(1)::after{
  content: '';
  display: block;
  width: 100%;
  height: 0.02vw;
  background: #0004;
  margin-top: 0.3vw;
}
.light{
  position: absolute;
  width: 6%;
  left: 21.8vw;
  margin-top: 1vw;
  filter: contrast(50%);
  cursor: pointer;
  transition: 0.2s;
}
.light:hover{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
}
.light_on{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
  transform: rotate(180deg);
  transition: 0.2s;
}
.dop_info_1{
  width: 41vw;
  height: 0;
  overflow: hidden;
  position: absolute;
  margin-left: 5.4vw;
  margin-top: 7vw;
  font-size: 1.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8vw;
}
.dop_info_1_on{
  height: 29vw;
  transition: 0.2s;
}
.collage_1{
  display: flex;
  z-index: 2;
  border-right: 0.02vw solid #0004;
}
.collage_1 img{
  transition: 0.2s ease-in;
  display: block;
}
.collage_1_off{
  opacity: 0;
  transition: 0.2s;
  transform: translateY(5vw);
}
.collage_1 div:nth-child(1) img{
  width: 120.5%;
  margin-left: -3.4vw;
}
.collage_1 div:nth-child(2) img{
  width: 135%;
}
.collage_1 div:nth-child(2) img:nth-child(2){
  margin-top: 0.15vw;
}
.block_2{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  align-items: stretch;
  line-height: 1.8vw;
  z-index: 2;
  flex-wrap: wrap;
  font-size: 1.2vw;
  margin-bottom: 5vw;
}
.info_2_1{
  width: 35%;
  text-align: center;
  border-right: 0.02vw solid #0004;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 700px;
  padding-right: 1vw;
}
.img_2_1{
  max-width: 100%;
  display: block;
  position: absolute;
  margin-top: -19.5vw;
  transition: 0.4s;
  z-index: -1;
  transform: rotateX(180deg);
  opacity: 0;
}
.img_2_1_on{
  transform: rotateX(0);
  transition: 0.4s;
  opacity: 1;
}
.text_2_1{
  background: #ebebeb;
  width: 100%;
  height: 65%;
  display: block;
  transition: 0.4s;
}
.text_2_1_black{
  background: #121212;
  transition: 0.3s;
}
.text_2_1_off{
  transform: rotateX(-180deg);
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}
.info_2_2{
  width: 35%;
  text-align: center;
  border-left: 0.02vw solid #0004;
  padding-left: 1vw;
  overflow: hidden;
  transition: 0.4s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.info_2_2 p{
  transition: 0.4s;
}
.light_block_2{
  width: 30%;
  position: absolute;
  filter: contrast(50%);
  transition: 0s;
}
.light_block_2:hover{
  filter: contrast(200%);
  transition: 0s;
}
.info_2_2_off{
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
}
.img_2_2{
  max-width: 36%;
  display: block;
  position: absolute;
  margin-top: -19.5vw;
  transform: translateX(120%);
  transition: 0.4s;
  opacity: 0;
}
.img_2_2_on{
  transform: translateX(-1vw);
  transition: 0.4s;
  opacity: 1;
}
.collage_2{
  width: 20%;
  margin: 0 1vw;
  transform-style: preserve-3d;
  perspective: 700px;
}
.collage_2 img{
  max-width: 100%;
  display: block;
  transition: 0.5s;
}
.shadow_img{
  box-shadow: inset 0px 0px 10px 110px black;
}
.collage_2:hover .img_off{
  transform: rotateY(180deg);
  transition: 0.5s;
  opacity: 0;
}
.collage_2 span{
  position: absolute;
  top: 0;
  text-align: center;
  z-index: -1;
  height: 100%;
  opacity: 0;
  transform: rotateY(-180deg);
  transition: 0.5s;
}
.collage_2:hover span{
  opacity: 1;
  transform: rotateY(0deg);
  transition: 0.5s;
}
.block_3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  line-height: 1.8vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.block_3 div{
  margin: 0 2vw;
  text-align: center;
}
.collage_3{
  height: 33vw;
  transition: 0.3s;
  width: 40%;
  border-left: 0.02vw solid #0004;
}
.img_3{
  background-image: url('photo/3_1.jpg');
  clip-path: polygon(100% 100%, 0 100%, 0% 0,0 0);
  background-size: cover;
  background-repeat: no-repeat;
  transition: clip-path 1s;
  height: 100%;
  position: relative;
  transition: 0.5s;
  width: 100%;
  opacity: 0.7;
  z-index: 22;
}
.img_3_off{
  opacity: 0;
  visibility: hidden;
  transition: 0.4s;
  z-index: -1;
}
.collage_3:hover .img_3{
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
  width: 100%;
  transition: 0.5s;
  opacity: 1;
}
.img_3_2{
  background-image: url('photo/3_2.jpg');
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%,0 0);
  background-size: cover;
  background-repeat: no-repeat;
  transition: clip-path 1s;
  height: 65.7%;
  position: absolute;
  transition: 0.5s;
  width: 40%;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
.img_3_2_on{
  visibility: visible;
  opacity: 0.7;
  transition: 0.4s;
  z-index: 22;
}
.collage_3:hover .img_3_2{
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  transition: 0.5s;
  opacity: 1;
}
.dop_info_3{
  position: absolute;
  width: 40%;
  margin-top: -10vw;
  display: none;
}
.info_3{
  width: 40%;
}
.light_block_3{
  width: 5%;
  position: absolute;
  margin-left: -25vw;
  margin-top: 2vw;
  filter: contrast(50%);
  transition: 0.2s;
}
.light_block_3:hover{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
  transition: 0.2s;
}
.light_on_3{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
  transform: rotate(180deg);
  transition: 0.2s;
}
.block_4{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  line-height: 1.8vw;
  margin-top: 5vw;
  flex-direction: column;
}
.info_4{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.off_4{
  transition: 0.4s;
}
.info_4 p:nth-child(1)::after{
  content: '';
  display: block;
  width: 55vw;
  height: 0.02vw;
  background: #0004;
  margin: 0.7vw auto;
}
.dop_info_4{
  position: absolute;
  width: 60vw;
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}
.dop_info_4_on{
  visibility: visible;
  transition: 0.4s;
  opacity: 1;
}
.info_4_off{
  visibility: hidden;
  transition: 0.4s;
  opacity: 0;
}
.light_block_4{
  position: absolute;
  width: 5vw;
  margin-left: 35vw;
  margin-top: -13vw;
  filter: contrast(50%);
  transition: 0.2s;
}
.light_block_4:hover{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
  transition: 0.2s;
}
.light_on_4{
  filter: contrast(200%) drop-shadow(0px 0px 10px yellow);
  transform: rotate(180deg);
  transition: 0.2s;
}
.collage_4_1{
  width: 80vw;
  height: 7vw;
  background-image: url('photo/4_1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}
.collage_4_1_on{
  height: 25vw;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.collage_4_1:hover{
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.collage_4_1_dop{
  background-image: url('photo/4_2_1.jpg');
  transition: 0.5s;
}
.collage_4_2{
  width: 80vw;
  height: 7vw;
  background-image: url('photo/4_2.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}
.collage_4_2_dop{
  background-image: url('photo/4_2_2.jpg');
}
.collage_4_2_on{
  height: 25vw;
  transition: 0.3s ease-in-out;
  opacity: 1;
}
.collage_4_2:hover{
  transition: 0.3s ease-in-out;
  opacity: 1;
}


.pic_1{
  animation-name: pic_1;
  animation-delay: 1s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes pic_1 {
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(1.1) translateX(-1vw);
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 5px;
  }
  50%{
    transform: scale(1);
  }
  80%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
.pic_2{
  animation-name: pic_2;
  animation-delay: 5s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes pic_2 {
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(1.05) translateX(0.5vw) translateY(-0.5vw);
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 5px;
  }
  50%{
    transform: scale(1);
  }
  80%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
.pic_3{
  animation-name: pic_3;
  animation-delay: 9s;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes pic_3 {
  0%{
    transform: scale(1);
  }
  10%{
    transform: scale(1.05) translateX(0.5vw) translateY(0.5vw);
    box-shadow: 0px 0px 10px 0px black;
    border-radius: 5px;
  }
  25%{
    transform: scale(1);
  }
  80%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
footer{
  max-width: 100vw;
  height: 2vw;
  background: #242424;
  box-shadow: 0px 0px 10px 0px black;
  font-family: 'Raleway', sans-serif;
}
footer a{
  display: inline-block;
  transform: translateY(20%);
  font-size: 1.2vw;
  margin-left: 2vw;
  text-decoration: underline;
}
.tema_black_on{
  background: #121212;
  color: #ebebeb;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px black;
}
.tema_white_on{
  background: #ebebeb;
  color: #121212;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px white;
}
.tema_black, .tema_white, .tema_block_white{
  transition: 0.3s;
}
.tema_block_white_on{
  background: #ebebeb7c;
  color: black;
  transition: 0.3s;
}
.pod_arrow_black{
  border-top: 3px solid black;
  border-left: 3px solid black;
}
.scale{
  transform: scale(2);
}
